 <header class="header">

          <h1 class="header__logo"></h1>

          <nav class="menu">
            <ul class="menu__row">

            <li class="menu__list">
            <a href="#" class="menu__link">Solutions</a>
            </li>

            <li class="menu__list">
            <a href="#" class="menu__link">About us</a>
            </li>

            <li class="menu__list">
            <a href="#" class="menu__link">Contact</a>
            </li>
            </ul>
          </nav> 


          <form class="site-search">
          <input class="site-search__input kss-search " type="text" placeholder="Search this site..." />
          <input type="image" src="css/images/search.svg" class="site-search__button">
          </form>
        

      </header>


<article role="main" class="main">
  
<h1 class="main__heading">Australia's premium Drupal strategy, design &amp; development experts</h1>

 <div class="row">

        <div class="one-half column">
          <aside class="widget">
          <h3 class="widget__title">Solutions</h3>
           <div class="widget__body">
             <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. </p>
            <button class="button button--secondary button--small widget--button">Solutions</button>
           </div>
          </aside>
        </div>


        <div class="one-half column">
        <aside class="widget">
          <h3 class="widget__title">About Us</h3>
          <div class="widget__body">
             <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. </p>
            <button class="button button--secondary button--small widget--button">About Us</button>
           </div>
          </aside>
        </div>


</div>




 <div class="row">


 <div class="two-thirds column">

<aside class="widget widget--secondary widget--secondary-title">
<h3 class="widget__title">About Us</h3>
<div class="widget__body">
<p>Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>
</aside>


<aside class="widget widget--secondary widget--secondary-title">
<h3 class="widget__title">Drupal strategy</h3>
</aside>


<aside class="widget widget--secondary widget--secondary-title">
<h3 class="widget__title">Styleguide driven development</h3>
</aside>



</div>

 <div class="one-third column">

  <aside class="widget widget--secondary">
  <h3 class="widget__title">Contact</h3>
  <div class="widget__body">
  <p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. </p>
  <button class="button button--secondary button--small widget--button">Contact</button>
  </div>
  </aside>

</div>


</div>



</article>
